ARCH		:= x64_86

TARGET		:= main
SRCDIR		:= src
BUILDDIR	:= build

INCLUDE     = -I include
LIBS		=

AS          = as
ASFLAGS     = --warn

SSRC 		:= $(wildcard src/*.s)
SOBJ 		:= $(SSRC:.s=.o)


CC          = gcc
CFLAGS		= -Wall -Wextra

CSRC		:= $(wildcard src/*.c)
COBJ		:= $(CSRC:.c=.o)


CXX         = g++
CXXFLAGS	= -g -Wall -Wextra

CXXSRC		:= $(wildcard src/*.cpp)
CXXOBJ		:= $(CXXSRC:.cpp=.o)

OBJ			:= $(SOBJ) $(COBJ) $(CXXOBJ)

LD	 		= g++
LDFLAGS		=


ifeq ($(ARCH), x64_86)
	ASFLAGS 	+= --64
	CFLAGS 		+= -m64
	CXXFLAGS 	+= -m64
	LDFLAGS     += -m64
else ifeq ($(ARCH), x86)
	ASFLAGS 	+= --32
	CFLAGS 		+= -m32
	CXXFLAGS 	+= -m32
	LDFLAGS     += -m32
endif

ifdef DEBUG
	ifeq ($(DEBUG), 0)
		CFLAGS 		+= -g0
		CXXFLAGS 	+= -g0
		LDFLAGS     += -g0
	else ifeq ($(DEBUG), 1)
		CFLAGS 		+= -g1
		CXXFLAGS 	+= -g1
		LDFLAGS     += -g1
	else ifeq ($(DEBUG), 2)
		CFLAGS 		+= -g2
		CXXFLAGS 	+= -g2
		LDFLAGS     += -g2
	else ifeq ($(DEBUG), 3)
		CFLAGS 		+= -g3
		CXXFLAGS 	+= -g3
		LDFLAGS     += -g3
	endif
	#ASFLAGS 	+= --64
	CFLAGS 		+= -O0
	CXXFLAGS 	+= -O0
	LDFLAGS     += -O0

else ifdef OPTIMIZE
	ifeq ($(OPTIMIZE), 0)
		CFLAGS 		+= -O0
		CXXFLAGS 	+= -O0
		LDFLAGS     += -O0
	else ifeq ($(OPTIMIZE), 1)
		#ASFLAGS 	+= --32
		CFLAGS 		+= -O1
		CXXFLAGS 	+= -O1
		LDFLAGS     += -O1
	else ifeq ($(OPTIMIZE), 2)
		#ASFLAGS 	+= --32
		CFLAGS 		+= -O2
		CXXFLAGS 	+= -O2
		LDFLAGS     += -O2
	else  ifeq ($(OPTIMIZE), 3)
		#ASFLAGS 	+= --32
		CFLAGS 		+= -O3
		CXXFLAGS 	+= -O3
		LDFLAGS     += -O3
	else ifeq ($(OPTIMIZE), 4)
		#ASFLAGS 	+= --32
		CFLAGS 		+= -O4
		CXXFLAGS 	+= -O4
		LDFLAGS     += -O4
	else ifeq ($(OPTIMIZE), 5)
		#ASFLAGS 	+= --32
		CFLAGS 		+= -O5
		CXXFLAGS 	+= -O5
		LDFLAGS     += -O5
	else ifeq ($(OPTIMIZE), s)
		#ASFLAGS 	+= --32
		CFLAGS 		+= -Os
		CXXFLAGS 	+= -Os
		LDFLAGS     += -Os
	endif
endif

# COLORS START from https://misc.flogisoft.com/bash/tip_colors_and_formatting
C_CLEAR 	   = \e[0m
C_RED		   = \e[31m
C_BLACK		   = \e[30m
C_GREEN 	   = \e[32m
C_YELLOW	   = \e[33m
C_BLUE		   = \e[34m
C_MAGENTA	   = \e[35m
C_CYAN		   = \e[36m
C_LIGHTGRAY    = \e[37m
C_DARKGRAY     = \e[90m
C_LIGHTRED     = \e[91m
C_LIGHTGREEN   = \e[92m
C_LIGHTYELLOW  = \e[93m
C_LIGHTBLUE	   = \e[94m
C_LIGHTMAGENTA = \e[95m
C_LIGHTCYAN	   = \e[96m
C_WHITE		   = \e[97m

# TEXT STYLING START
S_CLEAR      = \e[39m
S_BOLD       = \e[1m
S_DIM        = \e[2m
S_UNDERLINED = \e[4m
S_BLINK		 = \e[5m
S_INVERTED   = \e[7m
S_HIDDEN     = \e[8m

# TEXT STYLING END
# COLORS END
